* {
    box-sizing: border-box;
}


:root {
    --border-main-color:#008248;
    --font-main-color: #000;
    --background-color:#fff;
    scroll-behavior: smooth;
    zoom:0%;
}

html {
    overflow-x: hidden;
    zoom:0%;
}

html {
    overflow-x: hidden;
}

body {
    font-family: SoDo;
    color:#1f1f1f;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body, h1, h2, h3, div, span, li, ul, button, input, textarea, a, svg{
    margin: 0;
    padding: 0;
}  

li, a {
    text-decoration: none;
    list-style: none;
}

a {
    color: inherit;
}

/* ---- HEADER SECTION ---- */

/* --- LEFT SIDE --- */

.header__nav {
    font-weight: 700;
    display: flex;
    position: relative;
    z-index: 2;
    align-items: center;
    padding: 1.6rem 2.5rem 1.2rem 2.2rem;
    padding: 1.6rem 2.5rem 1.2rem 2.2rem;
    box-shadow: 0 .2rem .2rem 0 rgba(0,0,0,.12);
}

.nav__wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-left: 3rem;
}

.nav__items {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__primary-navigation {
    margin-right: 1rem;
    text-transform: uppercase;
    
}

.nav__items-switcher {
    height: 100%;
    display: flex;
    justify-self: center;
    align-self: center;
}



.primary-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    letter-spacing: 2px;
}

.dropdown-navigation-item {
    cursor: pointer;
    display: none;
}

.dropdown-navigation-item {
    cursor: pointer;
    display: none;
}


.arrow-container {
    width: 100%;
    display: none;
    padding: .5rem;
    margin-left: .2rem;
    border-radius: 100%;
    transition: transform .5s ;
    display: none;
    padding: .5rem;
    margin-left: .2rem;
    border-radius: 100%;
    transition: transform .5s ;
}

.arrow-icon {
    margin-left: .2rem;
    width: 1rem;
}

.collapsible-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__icon-container {
    width: 100%;
    
}

.header__logo {
    width: 3.2rem; 
}




/* --- RIGHT SIDE --- */


.secondary-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}



.primary-icon {
    width: 100%;
}


.header__icon-secondary {
    width: 1.2rem;
}

.find-a-store-button {
    margin-right: .4rem;
}

.find-store-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8rem .4rem;
    font-size: .9rem;
}


.primary-icon {
    width: 2.2rem;
    align-self: center;
    justify-self: center;
}

.button-label {
    width: 100%;
    align-self: flex-start;
}

.login-button {
    margin-right: .4rem;
}

/* --- Multiple Items Class --- */

.icon {
    vertical-align: middle;
    display: inline-block;
}

.abstract__button {
    text-decoration: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.primary-button {
    background: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 100rem;
    padding: .3rem 1rem;
    font-size: .9rem;
    line-height: 1;
}


.secondary-button {
    border: 1px solid #000;
    border-radius: 100rem;
    padding: .3rem 1rem;
    font-size: .9rem;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
}

.secondary-button-green {
    transition: background .5s;
    border: 1px solid #008248;
    color: #008248;
}


/* ---- HEADER SECTION ENDS ---- */



/* ---- MAIN SECTION ---- */


/* --- main wrapper --- */

.content-wrapper {
    height: 100%;
    height: 100%;
    width: 100%;
    display: flex;
}

.grid-24 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 600px 1fr;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 600px 1fr;
}



/* --- left side --- */



.sidebar {
    position: sticky;
    top:0;
    height: 100dvh;
}

.c01-vertical-card {
    max-height: 100%;
    width: 100%;
}


.c01-vertical-card .wrapper {
    height: auto;
    width: 100%;
    position: relative;
    max-height: 80dvh;
}

.c01-vertical-card .image {
    left: 0;
    top: 0;
    position: relative;
    height: 100dvh;
    width: 100%;
    background: linear-gradient(180deg, transparent 0, transparent 30%, rgba(0, 0, 0, .5));
}

.c01-vertical-card .image img {
    height: 100dvh;
    mask-image: linear-gradient(180deg,#000 10% , #0000007a 100%);
}



.c01-vertical-card .sticky-content {
    height: auto;
    width: 100%;
    bottom: 0;
    color: #008248;
    position: absolute;
    padding-left: calc(4.16667% + 4rem);
    padding-right: calc(4.16667% + .01667rem);
    padding-bottom: 1rem;
}

.c01-vertical-card .call-to-actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cta-left {
    transition: background .5s;
    transition: background .5s;
    border: 1px solid #008248;
    text-shadow: 0 0 20px #00000066;
}

.c01-vertical-card .call-to-actions>li {
    margin-top: 1.6rem;
}



/* --- right side --- */
/* First row */
.main {
    z-index: auto;
    height: 100%;
    height: 100%;
}


.main-blocks {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f7f7f7;
}



.c02-horizontal-card {
    position: relative;
    display: flex;
    flex-direction: column;
}

.c02-horizontal-card .content {
    width: 100%;
    padding: 3.2rem .5rem;
    padding-top: 2.3rem;
}

.c02-horizontal-card .image {
    position: relative;
    max-height: 50dvh;
    width: auto;
    width: auto;
}

.grid-15 {
    display: flex;
}

.col-13 h2 {
    font-weight: 500;
    font-size: 30px;
}

/* Second row */

.col-m-7 .heading-04 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.heading-04 ~ p:last-of-type {
    padding-bottom: 5rem;
}

.heading-04 ~ p {
    font-size: .8rem;
    color: #6c6c6c;
}

/* third row */

.c06-cards-grid {
    padding: 3.2rem 0;
}

.articles {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.article .heading-04 {
    font-weight: 400;
    font-size: 1.3rem;
    margin: 0;
}


.article .heading-04 ~ p {
    padding: 0;
    max-width: 300px;
    font-size: .9rem;
}

.c06-cards-grid .article {
    background: #fff;
    box-shadow: 0 0.2rem 0.8rem 0.1rem hsla(0,0%,42.4%,.11), 0 0.1rem 0.1rem 0 #ccc;
    margin-bottom: 3.2rem;
}

.c06-cards-grid .image {
    background: #edebe9;
    margin-bottom: 2.4rem;
}

.c06-cards-grid .image {
    position: relative;
    width: 100%;
}

.c06-cards-grid .article-detail {
    padding: 0 2.4rem 2.4rem;
}

.c06-cards-grid .article-description {
    margin-bottom: 1.6rem;
    color: #6c6c6c;
}


/* Footer */

.n02-footer {
    padding-top: 2rem;
}
.n02-footer {
    padding-top: 2rem;
}

.heading-03 {
    font-weight: 600;
    font-size: 1.4rem;
    font-weight: 500;
}

.social-list svg {
    width: 40px;
    filter:contrast(70%);
    transition: opacity .7s;
    transition: opacity .7s;
}
.social-list {
    gap: .8rem;
    display: flex;
    flex-direction: row;
}


.collapsible-list {
    font-size: .85rem;
    color: #6c6c6c;
    font-weight: 600;
    line-height: 3rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height  .5s ease-out ;
}

.collapsible-list:first-of-type {
    transition: max-height .5s linear;
}

.collapsible-list a {
    transition: color .3s;
}

.collapsible-list {
    font-size: .85rem;
    color: #6c6c6c;
    font-weight: 600;
    line-height: 3rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height  .5s ease-out ;
}

.collapsible-list:first-of-type {
    transition: max-height .5s linear;
}

.collapsible-list a {
    transition: color .3s;
}

.collapsible-button {
    display: flex;
    justify-content: space-between;

}


.chevron-footer-arrow {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    padding: .7rem;
}
.n02-footer .ui-divider {
    border: .1rem solid #ccc;
}


.footer-menu {
    width: 100%;
    position: relative;
    padding-right: 3.5rem;
}

.n02-footer .footer-menu-item:not(:last-child) {
    padding-bottom: 4.8rem;
}

.n02-footer .ui-divider {
    margin-top: 4rem;
}

.secondary-footer-menu {
    padding-bottom: 10rem;
}
.secondary-footer-menu-item {
    line-height: 2.8rem;
    font-size: .9rem;
    font-weight: 600;
    transition: opacity .2s;
}


.secondary-footer-menu {
    padding-bottom: 10rem;
}
.secondary-footer-menu-item {
    line-height: 2.8rem;
    font-size: .9rem;
    font-weight: 600;
    transition: opacity .2s;
}

/* --- Multiple Items Class --- */
.c06-cards-grid {
    margin-right: 2rem;
    margin-right: 2rem;
}

.c10-two-cols-text-image {
    margin-right: 5rem;
}

.grid-15 >.col-l-push-1 {
    margin-left: 6%;
}

.content-wrapper .breakout-right {
    margin-right: 0;
    margin-left: 0;
}

.grid-15>.col-l-14 {
    max-width: 93.33333%;
    flex-basis: 93.33333%;
}

.c10-two-cols-text-image .item:not(:last-child) {
    margin-bottom: 2rem;
}

.c10-two-cols-text-image .image {
    min-width: 400px;
}

.c10-two-cols-text-image .image {
    min-width: 400px;
}

.two-third-wrapper .content {
    position: relative;
}


.image img {
    width: 100%;
}

.image {
    width: 100%;
    display: inline-block;
}

.fit-cover {
    top :0; 
    top :0; 
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}


.description {
    color: #666;
    margin-bottom: 2.4rem;
}

.background {
    height: 100%;
    width: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}


.background .theme-naturalGray {
    background:#f7f7f7;
}

.footer-menu {
    background-color: #fff;
}

.footer-menu {
    background-color: #fff;
}

/* ---- MAIN SECTION ENDS ---- */



/* ---- JAVASCRIPT CLASSES ---- */



.footer-arrow {
    transition: transform .3s ease;

.footer-arrow {
    transition: transform .3s ease;
}


.rotated {
.rotated {
    transform: rotate(180deg);
}

.dropdown-list {
    background-color: #fff;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0,6,6,.14);
    position: absolute;
    top: 100%;
    max-height: 0;
    width: 150px;
    overflow: hidden;
    z-index: -1;
    display: none;
    flex-direction: column;
    transition: max-height .5s ;
}


.dropdown-list .nav__primary-navigation {
    margin: auto;
    padding: 1rem;
}
.dropdown-list .nav__primary-navigation:last-of-type {
    padding-bottom: 1.4rem;
}

.nav__items-switcher {
    text-transform: uppercase;
}
.dropdown-list {
    background-color: #fff;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0,6,6,.14);
    position: absolute;
    top: 100%;
    max-height: 0;
    width: 150px;
    overflow: hidden;
    z-index: -1;
    display: none;
    flex-direction: column;
    transition: max-height .5s ;
}


.dropdown-list .nav__primary-navigation {
    margin: auto;
    padding: 1rem;
}
.dropdown-list .nav__primary-navigation:last-of-type {
    padding-bottom: 1.4rem;
}

.nav__items-switcher {
    text-transform: uppercase;
}

/* ---- HOVER CLASSES AND PSEUDOCLASSES ---- */


.chevron-footer-arrow:hover {
    background-color: #f7f7f7;
}

.secondary-navigation a:hover {
    opacity: .7;
}

.secondary-navigation .login-button a:hover {
    background-color: #f7f7f7;
    opacity: 1;
    background-color: #f7f7f7;
}

.secondary-navigation a:hover {
    opacity: .7;
}

.secondary-navigation .login-button a:hover {
    background-color: #f7f7f7;
    opacity: 1;
}

.secondary-button-green:hover {
    background-color: #00824833;
}

.nav__items-switcher span:hover {
    color:#008248;
}
.nav__items-switcher span:hover {
    color:#008248;
}
.nav__primary-navigation:hover {
    color: #008248;
    color: #008248;
}


.cta-left:hover {
    background-color: #00824833;
}


.social-list svg:hover {
    opacity: .5;
}

.collapsible-list a:hover {
    color: #000;
}

.secondary-footer-menu-item:hover {
    opacity: .5;
}

.arrow-container:hover {
    background-color: #f7f7f7;
}

.primary-mobile-navigation a:hover{
    color: #008248;
}

.secondary-mobile-navigation a:hover {
    opacity: .7;
}

.secondary-mobile-navigation .login-button a:hover {
    opacity: 1;
    background-color: #f7f7f7;
}

/* ---- MOBILE MENU ---- */


.mobile-menu {
    display: none;
}

.mobile-navigation {
    border: none;
    background: transparent;
}

.icon-button .icon-wrapper {
    display: none;
    padding: 0;
    border-radius: 50%;
    transition-duration: .2s;
    transition-property: background-color, transform, box-shadow, color;
    transition-timing-function: ease-in-out;
    height: 4rem;
    width: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.icon-button {
    display: none;
}

.icon-button .icon {
    height: 2.2rem;
    width: 2.2rem;
    flex-shrink: 0;
    border: none;
    background: transparent;
}

.icon-button .icon svg {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    fill: currentColor;
}

.icon-button .icon:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    height: 4rem;
    width: 4rem;
    opacity: .1;
    transition: transform .2s ease-in-out, background .2s ease-in-out;
    left: 50%;
    transform: scale(0) translate(-50%, -50%);
    transform-origin: left top;
    border-radius: 50%;
    background: transparent;
    
}

.mobile-menu {
    position: fixed;
    top: 5.1rem;
    right: -80%;
    width: 70vw; 
    height: 100%; 
    background: white; 
    z-index: 20;
    transition: right 0.3s ease, opacity 0.3s ease; 
}

.mobile-menu.show {
    right: 0;
}

.navigation-panels {
    width: 100%;
}

.navigation-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 1rem;
    margin-left: 1.4rem;
}

.primary-mobile-navigation {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
    margin-top: .6rem;
    margin-bottom: .5rem;
}

.secondary-mobile-navigation {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.secondary-mobile-navigation ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.secondary-mobile-navigation .find-store-link {
    font-weight: 600;
    font-size: 1.2rem;
}


.mobile-divider {
    position: relative;
    width: 90%;
    margin: 2rem 0 2rem 0;
    border: .1rem solid #ccc;
    opacity: .5;
}

.collapsible-list a:hover {
    color: #000;
}

.secondary-footer-menu-item:hover {
    opacity: .5;
}

.arrow-container:hover {
    background-color: #f7f7f7;
}

.primary-mobile-navigation a:hover{
    color: #008248;
}

.secondary-mobile-navigation a:hover {
    opacity: .7;
}

.secondary-mobile-navigation .login-button a:hover {
    opacity: 1;
    background-color: #f7f7f7;
}

/* ---- MOBILE MENU ---- */


.mobile-menu {
    display: none;
}

.mobile-navigation {
    border: none;
    background: transparent;
}

.icon-button .icon-wrapper {
    display: none;
    padding: 0;
    border-radius: 50%;
    transition-duration: .2s;
    transition-property: background-color, transform, box-shadow, color;
    transition-timing-function: ease-in-out;
    height: 4rem;
    width: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.icon-button {
    display: none;
}

.icon-button .icon {
    height: 2.2rem;
    width: 2.2rem;
    flex-shrink: 0;
    border: none;
    background: transparent;
}

.icon-button .icon svg {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    fill: currentColor;
}

.icon-button .icon:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    height: 4rem;
    width: 4rem;
    opacity: .1;
    transition: transform .2s ease-in-out, background .2s ease-in-out;
    left: 50%;
    transform: scale(0) translate(-50%, -50%);
    transform-origin: left top;
    border-radius: 50%;
    background: transparent;
    
}

.mobile-menu {
    position: fixed;
    top: 5.1rem;
    right: -80%;
    width: 70vw; 
    height: 100%; 
    background: white; 
    z-index: 20;
    transition: right 0.3s ease, opacity 0.3s ease; 
}

.mobile-menu.show {
    right: 0;
}

.navigation-panels {
    width: 100%;
}

.navigation-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 1rem;
    margin-left: 1.4rem;
}

.primary-mobile-navigation {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
    margin-top: .6rem;
    margin-bottom: .5rem;
}

.secondary-mobile-navigation {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.secondary-mobile-navigation ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.secondary-mobile-navigation .find-store-link {
    font-weight: 600;
    font-size: 1.2rem;
}


.mobile-divider {
    position: relative;
    width: 90%;
    margin: 2rem 0 2rem 0;
    border: .1rem solid #ccc;
}
/* Show the menu */

.valign-middle {
    transition: transform .3s;
}

.button-icon {
    transition: transform .3s;
}

.top , .middle , .bottom {
    transition: transform .3s, opacity .3s;

} 

.button-icon {
    display: none;
}

.button-icon.is-active .top{
    transform:rotate(-45deg) translate(-10px, 10px) ;
    animation: mobile-menu-top .6s both;
}


.button-icon.is-active  .middle {
    opacity: 0;
    transition: opacity .6s;
}



.button-icon.is-active .bottom {
    transform: rotate(45deg) translate(4px, -20px);
    animation: mobile-menu-bottom .6s both;
}


@keyframes mobile-menu-top {
    0% {
        transform: translate(0) rotate(0);
    }
    35% {
        transform: translate(0, 6px);
    }

    100% {
        transform:rotate(-45deg) translate(-10px, 10px);
    }
}


@keyframes mobile-menu-bottom {
    0% {
        transform: translate(0);
    }
    35% {
        transform: translate(0, -6px);
    }

    100% {
        transform: rotate(45deg) translate(4px, -20px)
    }
}